__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

__MACOSX/
.DS_Store

recordings/*.bin
recordings/*.wav
ring_software/recordings/*.bin
ring_software/recordings/*.wav
ring_sound_SDK/recordings/*.bin
ring_sound_SDK/recordings/*.wav
